* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #ffffff;
  color: #000000;
}

header {
  line-height: 70px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

a {
  text-decoration: none;
}

/* UTILITY */
.container-small {
  width: 1070px;
  max-width: 100%;
  margin: 0 auto;
}

.container-small::after {
  content: '';
  display: table;
  clear: both;
}

.absolute {
  height: 200px;
  width: 460px;
  text-align: center;
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}

/* SCOMPARSA PHONE */
.only-desk {
  display: none;
}

@media screen and (min-width: 768px) {
  .only-desk {
    display: inline-block;
  }
}

/* navigazione */
.icona {
  width: 20%;
  vertical-align: middle;
  float: left;
}

.ulist {
  width: 70%;
  text-align: right;
  float: right;
}

.ulist li {
  display:inline-block;
}

.ulist a {
  font-size: 12px;
  padding: 0 10px;
}

header .ulist li:nth-child(9) a {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/* DEBUG PER OSSATURA */
/* jumbotron */
.jumbotron {
  height: 550px;
  width: 100%;
  position: relative;
  background: aquamarine;
}
/* telefono che scompare */
.tel-none {
  background: aqua;
  height: 420px;                      <!-- IMMAGINE BACKGROUND + COVER + POSITION-->
}

.green {
  height: 680px;
  border: 1px solid green;
}
.red {
  height: 680px;
  border: 1px solid red;
}
.yellow {
  height: 680px;
  border: 1px solid yellow;
}
/* sezione smart */
.smart  {
  height: 520px;
  background: lightgrey;
  position: relative;
}

.smart .absolute {
  left: 75%;
}

.find {
  height: 520px;
  background: dodgerblue;
  position: relative;
}

.get {
  height: 520px;
  background: pink;
  position: relative;
}

/* HELBIZFAMILY */
.helbiz-family {
  height: 520px;
  background: aquamarine;
  position: relative;
}
/* FOOTER */
.footer {
  height: 520px;
  background: lightgrey;
}
