* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  line-height: 70px;
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 10;
  background: #ffffff;
}

h1 {
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
}

h4 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: orange;
}

/* UTILITY */
.container-small {
  width: 1070px;
  max-width: 100%;
  margin: 0 auto;
}

.container-small::after {
  content: '';
  display: table;
  clear: both;
}

.absolute {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}

.margin-bottom {
  margin-bottom: 50px;
}

/* SCOMPARSA PHONE */
.only-desk {
  display: none;
}

@media screen and (min-width: 768px) {
  .only-desk {
    display: inline-block;
  }
}

/* NAVIGAZIONE */
.icona {
  width: 20%;
  vertical-align: middle;
  float: left;
}

.ulist {
  width: 70%;
  min-width: 700px;
  text-align: right;
  float: right;
}

.ulist li {
  display:inline-block;
}

.ulist a {
  color: #000000;
  font-size: 12px;
  padding: 0 10px;
}

.ulist a:hover {
  color: orange;
}

header .ulist li:nth-child(9) a {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/* JUMBOTRON */
.jumbotron {
  height: 650px;
  width: 100%;
  position: relative;
  margin-top: 100px;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
}

.btn {
  display: inline-block;
}

/* HELBIZBIKE */

.bike {
  height: 680px;
  background: #fafafa;
  text-align: center;
  padding-top: 30px;
  margin: 60px 15px 0;
}

.bike h3 {
  margin: 15px 0;
}

.bike a {
  font-weight: 600;
  display: block;
  color: #0007ff;
  margin: 15px 0;
}

.bike a:hover {
  color: orange;
}

.bike img {
  max-height: 500px;
}

/* PHONE CHE SCOMPARE */
.tel-none {
  height: 500px;
  background-image: url('../img/helbiz-banner.jpg');
  background-size: cover;
  margin-top: 30px;
}

.box {
  height: 200px;
}

.box h2 {
  margin-top: 600px;
  margin-left: 50%;
}

.box img {
  max-width: 100%;
  margin-top: 200px;
}

.box h5 {
  margin-top: 630px;
}
/* SEZIONE SMART */
.smart  {
  height: 520px;
  background-image: url('../img/scooter-bg.jpg');
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
}

.smart .absolute {
  left: 75%;
}

.smart .absolute h2 {
  color: #ffffff;
  font-size: 40px;
  min-width: 400px;
  margin-bottom: 15px;
}

.smart .absolute h4 {
  font-size: 16px;
  min-width: 400px;
}

.smart .absolute a {
  color: #ffffff;
  font-weight: 600;
}
.smart .absolute a:hover {
  color: orange;
}

.get {
  height: 100%;
  background-image: url('../img/helbiz-app.png');
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.get-gradient {
  height: 520px;
  background: linear-gradient(#405569 , #263039);
  margin-bottom: 20px;
}

.find {
  height: 520px;
  background-image: url('../img/cities.jpg');
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
}

.find .absolute,
.get .absolute {
  top: 15%;
}

.find h3,
.get h3 {
  color: #ffffff;
  font-size: 30px;
  min-width: 300px;
  margin-bottom: 15px;
}

.find a,
.get a {
  color: #ffffff;
  font-weight: 600;
}

.find a:hover,
.get a:hover {
  color: orange;
}

@media screen and (min-width: 768px) {
  .padding-right {
    padding-right: 10px;
    padding-left: 0;
  }
  .padding-left {
    padding-right: 0;
    padding-left: 10px;
  }
}

/* HELBIZFAMILY */
.helbiz-family {
  height: 520px;
  background-image: url('../img/social-banner.jpg');
  position: relative;
  margin-bottom: 20px;
}

.helbiz-family .absolute {
  background: #ffffff;
  padding: 50px 75px;
}

.helbiz-family .absolute li {
  display: inline-block;
  margin: 15px;
}

.helbiz-family .absolute i {
  font-size: 30px;
  color: #000000;
}

.helbiz-family .absolute i:hover {
  color: orange;
}
/* FOOTER */
.footer {
  background: #000000;
  padding-top: 100px;
}

.footer img {
  width: 50%;
}

.footer h3 {
  color: #ffffff;
  margin-bottom: 30px;
}

.footer li {
  line-height: 30px;
}

.footer a {
  color: #808080;
  font-size: 14px;
}

.footer .container-small {
  border-bottom: 1px solid #808080;
}

.footer a:hover {
  color: orange;
}

.footer .font-white a {
  color: #ffffff;
  display: inline-block;
  margin: 50px 15px 50px 0;
}

.footer .font-white a:hover {
  color: orange;
}

.footer .font-white i {
  font-size: 20px;
}

.credits {
  background: #000000;
  line-height: 100px;
  text-align: center;
}

.credits a {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 20px 0 10px;;
}
